/* Add screen styles below */
body {
    background-color: #353535;
}
h1 {
    background: #B5B5B5;
    color: #353535;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.heading2 {
    text-align: center;
    max-width: 500px;
    margin-left: 700px;
}
h2 {
    color: #FFFFFF;
    padding-top: 30px;
}
.image {
    float: left;
    margin-left: 200px;
    margin-top: 50px;
    gap: 20px;
}
.about {
    margin-left: 50px;
}
p {
    color: #FFFFFF;
    display: inline-block;
    inline-size: 500px;
    margin-left: 50px;
}